{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrahead %}
{{ block.super }}
<style>
html[data-theme="dark"], html[data-theme="light"], :root {
    --secondary: #063a6b;
    --header-bg: #063a6b;
    --button-bg: #063a6b;
    --button-hover-bg: #0d5299;
    --default-button-bg: #0d5299;
    --default-button-hover-bg: #063a6b;
}

#changelist-filter details > summary::before {
    content: '' !important;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 8px solid var(--link-hover-color);
    margin-right: 6px;
    vertical-align: middle;
    font-weight: normal;
    transition: transform 0.15s;
}
#changelist-filter details[open] > summary::before {
    content: '' !important;
    transform: rotate(90deg);
}
</style>
{% endblock %}
